<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bht.beuthorg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".util.BeuthOrgApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".views.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.beuthorgActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".beuthmenu.views.BeuthMenu"
            android:label="Menu" >
        </activity>
        <activity
            android:name=".beuthmenu.views.AllgemeinUni"
            android:label="Allgemeines zur Uni" >
        </activity>
        <activity
            android:name=".news.view.News"
            android:label="News" >
        </activity>
        <activity
            android:name=".news.view.OneNews"
            android:label="News" >
        </activity>
        <activity
            android:name=".views.Login"
            android:label="Login" >
        </activity>
                <activity
            android:name=".views.Modulbeschreibung"
            android:label="Login" >
        </activity>
                <activity
            android:name=".views.ProfInfo"
            android:label="Login" >
        </activity>
                        <activity
            android:name=".views.Raumplan"
            android:label="Login" >
        </activity>
                        <activity
            android:name=".views.StundenplanView"
            android:label="Login" >
        </activity>
        <activity
            android:name=".mensafood.view.MensaFood"
            android:label="Mensa Essen" >
        </activity>
        <activity
            android:name=".beuthmenu.views.MensaSelected"
            android:label="Mensa" >
        </activity>
         <activity
            android:label="Ich"
            android:name=".beuthmenu.views.IchSelected" >
        </activity>
        <activity
            android:label="FB6"
            android:name=".beuthmenu.views.Fb6Selected" >
        </activity>
    </application>

</manifest>